* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}
.container {
    overflow: hidden;
}
img {
    max-width: 100%;
}
.btn {
    cursor: pointer;
    padding: 5px 10px
}
.btn-transparent {
    border: none;
    background: transparent;
    box-shadow: none;
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
/*ВЕРХНЯЯ ПОЛОСКА*/
.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.top-nav-center {
    display: flex;
    align-items: center;
}
.top-games {
    margin: 0 20px 0 0;
}
.top-games a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font: bold 12px Arial, sans-serif;
}
.top-nav .main-nav-logo {
    height: 55px;
    margin: 0 30px 0 0;
}
.top-nav .btn {
    color: #eee;
    font-size: 18px;
}

/*БОКОВАЯ ПОЛОСКА*/


.aside-bar {
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 0;
    width: 200px;
    background-color: #333;
    z-index: 10;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}
.main-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main-nav a {
    color: #eee;
    text-decoration: none
}
.main-nav ul {
    margin: 0;
    list-style: none;
    padding: 0;
}
.section-nav li ul {
    display: none;
}
.section-nav .item, .game-nav .item {
    display: flex;
    flex-direction: row;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 12px;
    align-items: center;
}
.section-nav .item, .game-nav .item:hover {
    background-color: #222;
}
.game-nav, .section-nav {
    margin-bottom: 40px;
}
.game-nav .icon {
    font-size: 16px;
    margin: 0 10px 0 0;
    color: #eee;
}
.game-nav-header {
    display: block;
    padding: 10px;
    text-align: center;
    background-color: #222;
    font-size: 12px;
    font-weight: bold;
}
.game-nav-img {
    width: 50%;
    margin-bottom: 5px;
}

.user-nav {
    padding: 5px 10px;
    background: #b31919;
}
.user-profile-link {
    display: flex;
    align-items: center
}
.user-nav .user-nickname {
    font-size: 14px;
    overflow: hidden;
}

.user-avatar-img {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0 10px 0 0
}

.aside-bar-footer{
    margin-top: auto;
    font-size: 14px;
    padding: 0 20px;
}
.site-nav {
    font-size: 12px;
}
.social-links {
    margin: 10px 0 10px;
    display: flex;
    justify-content: space-between;
}
.social-links .item {
    border-radius: 50%;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 35px;
    text-align: center;
    vertical-align: center;
    font-size: 14px;
    background-color: #222;
    color: #eee;
}

